.header {
    height: 80px;
    border-bottom: 1px solid #eee;
    margin: 0 15%;
}

.logo-box {
    text-align: center;
}

.logo-box img {
    width: 50px;
    height: 50px;
}

.user-box {
    text-align: center;
}

.user-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav .to-back-btn {
    border-radius: 30px;
}
.header .ant-menu-horizontal {
    border: none;
}

.dropdown-icon {
    margin-left: 20px;
    cursor: pointer;
}

.login-text, .register-text {
    color: #4095e5;
    cursor: pointer;
}