.film-list {
  margin-top: 20px;
}
.film-list .title {
  font-size: 25px;
  color: #3e3e3e;
  border-bottom: 2px #eb002a solid;
  width: 100px;
  margin-bottom: 20px;
}

.film-list .file-item {
  position: relative;
  display: inline-block;
  margin: 0 36px 0 0;
  height: 250px;
  width: 180px;
  cursor: pointer;
}
.film-list .file-item .file-filmName {
  position: absolute;
  color: #fff;
  bottom: 5px;
  left: 5px;
  font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
}

.film-list .file-item .file-score {
  position: absolute;
  color: #fff;
  bottom: 5px;
  right: 10px;
  font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
}
