.film-list {
  margin-top: 20px;
}

.film-list .top {
  margin-bottom: 20px;
  border-bottom: 1px #e5e5e5 solid;
}

.film-list .top .title {
  margin-right: 20px;
  font-size: 25px;
  color: #3e3e3e;
  width: 100px;
  cursor: pointer;
}

.film-list .top .chooseTitle {
  margin-right: 20px;
  font-size: 25px;
  color: #3e3e3e;
  width: 100px;
  border-bottom: 2px #eb002a solid;
  cursor: pointer;
}

.film-list .file-item {
  position: relative;
  display: inline-block;
  margin: 0 36px 20px 0;
  height: 250px;
  width: 180px;
  cursor: pointer;
}
.film-list .file-item .file-filmName {
  position: absolute;
  color: #fff;
  bottom: 5px;
  left: 5px;
  font: 13px/1.5 tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
}

.film-list .file-item .file-score {
  position: absolute;
  color: #fff;
  bottom: 5px;
  right: 10px;
  font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
}

.film-list .display {
  display: none;
}
