.pickSeat_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
}

.film_message {
  width: 300px;
  height: 500px;
  border: 1px solid gray;
  /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}
.film_message > div {
  text-align: left;
  /* border: 1px solid red; */
  width: 80%;
}
.film_message > * {
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 15px;
}
.film_message > img {
  margin-top: 20px;
  width: 160px;
  height: 220px;
}

.film_message :nth-child(2) {
  font-size: 20px;
  font-weight: 600;
}
.pickSeat_right {
  width: 60%;
  height: 500px;
}
.seat {
  width: 100%;
  border: 1px solid gray;
}
.seat_head {
  width: 50%;
  position: relative;
  left: 25%;
  top: 5%;
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
}

.seat_head > div {
  font-size: 16px;
  line-height: 25px;
  vertical-align: middle;
}
.screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

.screen img {
  width: 70%;
}
.seat_list {
  height: 100%;
  width: 100%;
  margin-bottom: 6%;
}
.seat_line {
  width: 100%;
  position: relative;
  text-align: center;
  height: 30px;
}
.seat_line td > span{
  position: relative;
  /* right: 80%; */
  right: 10%;
  font-weight: 100;
  color: gray;
  color: black;
  font-weight: 600;
}

.seat_line img {
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  z-index: 10;
}

.seat_footer {
  position: relative;
  top: 20px;
  width: 100%;
  height: 90px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.seat_footer > div {
  margin: 10px 0;
  margin-left: 10px;
  font-weight: 700;
}
.seat_footer div > span {
  color: red;
}
.seat_footer_msg {
  position: relative;
}
.seat_footer_msg > div {
  height: 35px;
  font-size: 15px;
  line-height: 30px;
 
}
.book {
 
  position: relative;
  right: 3%;
}
.book .ant-btn-round.ant-btn-lg {
  height: 50px;
  padding: 6.4px 20px;
  font-size: 15px;
  width: 150px;
  border-radius: 40px;
}

.space {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
}
