.cinemaItem .item {
  width: 100%;
  height: 70px;
}
.cinemaItem .ant-card-body {
  padding: 12px 10px;
}
.cinemaItem .item .right {
  align-self: flex-end;
  margin-left: auto;
}
.cinemaItem .item .left .cinemaName {
  font-size: 18px;
}
