.filmTicket {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 425px;
  border-style: solid;
  border-width: 1px;
}
.item {
  margin: 5px 0 0 10px;
}
.img {
  align-self: flex-end;
  margin: 20px 20px 10px 0;
}
.img img {
  width: 55px;
}
.filmName {
  font-weight: bold;
}
.qrCode {
  margin: auto;
}
