.footer {
    width: 100%;
    margin-top: 80px;
    padding: 20px 15%;
    background-color: #333333;
}

@media screen and (max-width: 1200px){
    .footer {
        padding: 20px 5%;
    }
}

@media screen and (max-width: 1600px){
    .footer {
        padding: 20px 8%;
    }
}

.footer-text {   
    color: white;
}

.footer-text h5 {
    color: white;
}

.footer-bottom-container {
    border-top: 1px solid rgba(255,255,255,.25);
    width: 100%;
    text-align: center;
    color: #bbb7b7;
}

.footer-row {
    color: #bbb7b7;
}